<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>
  <style>
    .form-container {
      max-width: 400px;
      margin: 30px auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
    .btn {
      margin: 30px auto;
    }
    label {
      margin: 10px 0;
    }
  </style>
  <div class="container form-container">
    <h2>Thông tin tài khoản</h2>
    <div class="form-group">
      <img
        id="Avt"
        name="accountImage"
        src="#"
        alt="#"
        style="height: 80px; border-radius: 60px; margin-left: 140px"
      />
      <p id="text" class="text-black" style="text-align: center; display: none">
        Click vào hình để chỉnh sửa
      </p>
      <input
        type="file"
        id="profileImage"
        name="accountImage"
        accept="image/*"
        class="form-control"
        required
        style="display: none"
        onchange="displaySelectedImage()"
      />
    </div>
    <form id="accountForm">
      <div class="form-group">
        <label for="accountUsername">Username:</label>
        <input type="hidden" id="accountId" />
        <input
          type="text"
          class="form-control"
          id="accountUsername"
          name="accountUsername"
          required
          readonly
        />
      </div>
      <div class="form-group">
        <label for="accountName">Họ và tên:</label>
        <input
          type="text"
          class="form-control"
          id="accountName"
          name="accountName"
          required
          readonly
          value="asdasd"
        />
      </div>
      <div class="form-group">
        <label for="accountEmail">Email:</label>
        <input
          type="text"
          class="form-control"
          id="accountEmail"
          name="accountEmail"
          required
          readonly
          value="abc"
        />
      </div>
      <div class="form-group">
        <label for="accountEmail">Địa chỉ:</label>
        <div class="form-outline mb-4">
          <select
            class="form-control"
            id="provinces"
            onchange="fetchDistricts()"
          >
            <option>Chọn tỉnh/thành phố</option>
          </select>
        </div>
        <div class="form-outline mb-4">
          <select class="form-control" id="districts" onchange="fetchWards()">
            <option>Chọn quận/huyện</option>
          </select>
        </div>
        <div class="form-outline mb-4">
          <select class="form-control" id="wards">
            <option>Chọn phường xã</option>
          </select>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between" class="">
        <button id="btnEdit" type="button" class="btn btn-primary">
          Chỉnh sửa
        </button>
        <button
          id="btnCancel"
          type="button"
          class="btn btn-danger"
          style="display: none"
        >
          Huỷ
        </button>
        <button
          onclick="submitForm(event,'PUT')"
          id="btnSubmit"
          type="button"
          class="btn btn-success"
          style="display: none"
        >
          Submit
        </button>
      </div>
    </form>
  </div>

  <!-- Include Bootstrap JS and Popper.js from CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function triggerFileInput() {
      document.getElementById("profileImage").click();
    }
    document
      .getElementById("Avt")
      .addEventListener("click", triggerFileInput);
    document
      .getElementById("profileImage")
      .addEventListener("change", function (e) {
        var file = e.target.files[0];

        if (file) {
          var reader = new FileReader();

          reader.onload = function (readerEvent) {
            document.getElementById("Avt").src =
              readerEvent.target.result;
          };

          reader.readAsDataURL(file);
        }
      });
    document.addEventListener("DOMContentLoaded", function () {
      fetchAccountDetails();
      document.getElementById("btnEdit").addEventListener("click", function () {
        const accountEmail = document.querySelector("#accountEmail");
        const accountName = document.querySelector("#accountName");
        const btnEdit = document.getElementById("btnEdit");
        const btnCancel = document.getElementById("btnCancel");
        const btnSubmit = document.getElementById("btnSubmit");
        const Avt = document.getElementById("Avt");
        const text = document.getElementById("text");
        fetchProvinces();
        // Toggle button visibility
        btnSubmit.style.display = "inline-block";
        btnEdit.style.display = "none";
        btnCancel.style.display = "inline-block";
        Avt.style.cursor = "pointer";
        text.style.display = "inherit";
        // Enable editing
        accountEmail.readOnly = false;
        accountName.readOnly = false;
      });

      document
        .getElementById("btnCancel")
        .addEventListener("click", function () {
          const accountEmail = document.querySelector("#accountEmail");
          const accountName = document.querySelector("#accountName");
          const btnEdit = document.getElementById("btnEdit");
          const btnCancel = document.getElementById("btnCancel");
          const btnSubmit = document.getElementById("btnSubmit");
          const img = document.getElementById("Avt");
          const text = document.getElementById("text");

          // Restore the previous values
          fetchAccountDetails();
          // Toggle button visibility
          text.style.display = "none";
          btnSubmit.style.display = "none";
          btnEdit.style.display = "inline-block";
          btnCancel.style.display = "none";
          img.style.cursor = "none";

          // Disable editing
          accountEmail.readOnly = true;
          accountName.readOnly = true;
        });
    });
    function fetchAccountDetails() {
      const id = getCookie("id");
      fetch("http://jul2nd.ddns.net/account/" + id)
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("accountId").value = data.id;
          document.getElementById("accountUsername").value = data.username;
          document.getElementById("accountName").value = data.name;
          document.getElementById("Avt").src = data.image;
          document.getElementById("accountEmail").value = data.email;
          document.getElementById("wards").innerHTML =
            '<option value="' +
            data.ward_code_ward.code +
            '"">' +
            data.ward_code_ward.full_name +
            "</option>";
          document.getElementById("districts").innerHTML =
            '<option value="' +
            data.ward_code_ward.district_code_district.code +
            '"">' +
            data.ward_code_ward.district_code_district.full_name +
            "</option>";
          document.getElementById("provinces").innerHTML =
            '<option value="' +
            data.ward_code_ward.district_code_district.province_code_province
              .code +
            '"">' +
            data.ward_code_ward.district_code_district.province_code_province
              .full_name +
            "</option>";
        })
        .catch((error) => console.error("Error fetching provinces:", error));
    }
  </script>
  <script src="/js/form.handle.js"></script>
  <script src="/js/fetch.address.js"></script>
  <%- include('../includes/footer.ejs') %>
</body>
