<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer">
    <!-- Footer -->
    <footer
            class="py-0 text-center text-lg-start text-white background-radial-gradient"
            
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold" style="text-decoration: underline;">
                <a class="text-white" href="/"> Fitness Store - WHEY, ACCESSORIES & FASHION
              </a></h6>
              <i>
                <b>
                “Don't lower your goals, but increase your efforts.” </b>
                <br>- Tom Coleman -
              </i>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Danh mục</h6>
              <p>
                <a class="text-white" href="/">Trang chủ</a>
              </p>
              <p>
                <a class="text-white" href="/introduce">Giới thiệu</a>
              </p>
              <p>
                <a class="text-white" href="/">Sản phẩm</a>
              </p>
              <p>
                <a class="text-white" href="/">Cộng đồng</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Chính sách
              </h6>
              <p>
                <a class="text-white">Chính sách mua hàng</a>
              </p>
              <p>
                <a class="text-white">Chính sách giao hàng</a>
              </p>
              <p>
                <a class="text-white">Chính sách bảo mật</a>
              </p>
              <p>
                <a class="text-white">Chính sách đổi trả</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Liên hệ</h6>
              <p><i class="fa fa-home mr-3"></i> 123/23 Quận 9, TP.HCM</p>
              <p><i class="fa fa-envelope mr-3"></i> fitness@gmail.com</p>
              <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © Copyright:
                <a class="text-white" href="/"
                   >Fitness.com</a
                  >
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <!-- Facebook -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fa fa-facebook-f"></i
                ></a>
  
              <!-- Twitter -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fa fa-twitter"></i
                ></a>
  
              <!-- Google -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fa fa-google"></i
                ></a>
  
              <!-- Instagram -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fa fa-instagram"></i
                ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
</body>
</html>