<nav class="navbar navbar-expand-lg nav-color">
  <div class="container">
    <a class="navbar-brand" href="/">FITNESS STORE</a>
    <button
      class="navbar-toggler icon-nav"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-main active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item nav-main">
          <a class="nav-link" href="/introduce">Giới thiệu</a>
        </li>
        <li class="nav-item nav-main">
          <a class="nav-link" href="/product">Sản phẩm</a>
        </li>
        <li class="nav-item nav-main">
          <a class="nav-link" href="#">Cộng đồng</a>
        </li>
        <li class="nav-item nav-main">
          <a class="nav-link" href="/contact">Liên hệ</a>
        </li>
        <li class="nav-item dropdown" id="log">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img id="accountImage" src="/images/account.png" alt="#" style="height: 40px" />
            <script>
              function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                  let c = ca[i];
                  while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                  }
                  if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                  }
                }
                return "";
              }
              const accountImage = document.getElementById('accountImage');
              const imageFromCookie = getCookie('image');
              if (imageFromCookie) {
                accountImage.src = decodeURIComponent(imageFromCookie);
              }
            </script>
          </a>
          <ul class="dropdown-menu">
            <ul class="dropdown-menu">
              <script>
                document.addEventListener('DOMContentLoaded', function() {
                  const idCookieExists = document.cookie.includes('id=');
          
                  const dropdownMenu = document.querySelector('.dropdown-menu');
                  if (idCookieExists) {
                    // Thực hiện logic khi cookie 'id' tồn tại
                    dropdownMenu.innerHTML = `
                      <li><a class="dropdown-item" href="Manage account">Quản lý tài khoản</a></li>
                      <li><a class="dropdown-item" href="logout">Đăng xuất</a></li>
                    `;
                  } else {
                    // Thực hiện logic khi cookie 'id' không tồn tại
                    dropdownMenu.innerHTML = `
                      <li><a class="dropdown-item" href="signin">Đăng nhập</a></li>
                      <li><a class="dropdown-item" href="signup">Đăng ký</a></li>
                    `;
                  }
                });
              function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                  let c = ca[i];
                  while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                  }
                  if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                  }
                }
                return "";
                }
              </script>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
