<%- include('includes/head.ejs')%>
<body >
  <%- include('includes/navigation.ejs')%>
  <main id="root">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Page not found</h1>
          
        </div>
      </div>
    </div>
  </main>
  <%- include('includes/footer.ejs')%>
</body>

