<style>
  .form-container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .btn {
    margin: 30px auto;
  }
  label {
    margin: 10px 0;
  }
</style>
<div class="container form-container">
  <h2>Thông tin tài khoản</h2>
  <div class="form-group">
    <img
      id="Avt"
      name="accountImage"
      src="#"
      alt="#"
      style="height: 80px; border-radius: 60px; margin-left: 140px"
    />
    <p id="text" class="text-black" style="text-align: center; display: none">
      Click vào hình để chỉnh sửa
    </p>
    <input
      type="file"
      id="profileImage"
      name="accountImage"
      accept="image/*"
      class="form-control"
      required
      style="display: none"
      onchange="displaySelectedImage()"
    />
  </div>
  <form id="accountForm">
    <div class="form-group">
      <label for="accountUsername">Username:</label>
      <input type="hidden" id="accountId" />
      <input
        type="text"
        class="form-control"
        id="accountUsername"
        name="accountUsername"
        required
        readonly
      />
    </div>
    <div class="form-group">
      <label for="accountName">Họ và tên:</label>
      <input
        type="text"
        class="form-control"
        id="accountName"
        name="accountName"
        required
        readonly
      />
    </div>
    <div class="form-group">
      <label for="accountEmail">Email:</label>
      <input
        type="text"
        class="form-control"
        id="accountEmail"
        name="accountEmail"
        required
        readonly
      />
    </div>
    <div class="form-group">
      <label for="accountEmail">Địa chỉ:</label>
      <div class="form-outline mb-4">
        <select class="form-control" id="provinces" onchange="fetchDistricts()">
          <option readonly>Chọn tỉnh/thành phố</option>
        </select>
      </div>
      <div class="form-outline mb-4">
        <select class="form-control" id="districts" onchange="fetchWards()">
          <option readonly>Chọn quận/huyện</option>
        </select>
      </div>
      <div class="form-outline mb-4">
        <select class="form-control" id="wards">
          <option readonly>Chọn phường xã</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="accountRole">Role:</label>
      <select class="form-control" id="wards">
        <option readonly>Chọn role</option>
      </select>
    </div>
    <div style="display: flex; justify-content: space-between" class="">
      <button id="btnEdit" type="button" class="btn btn-primary">
        Chỉnh sửa
      </button>
      <button
        id="btnCancel"
        type="button"
        class="btn btn-danger"
        style="display: none"
      >
        Huỷ
      </button>
    </div>
  </form>
</div>
