<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="overlay">
        <img width="80%" src="/images/introduce.jpg" alt="Your Image Alt Text">
        <h1 style="position: absolute; color: white;">CHÀO MỪNG BẠN ĐẾN VỚI FITSTORE</h1>
      </div>
      <br />
    </div>
  </div>
</div>