  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 500px;" src="/images/banner1.png" class="d-block w-100" alt="banner">
        <div  class="carousel-caption d-none d-md-block">
          <h5>FitStore - Whey, Accessories & Fashion
          </h5>
          <p>“Hãy cứ tin vào chính mình. Kể cả khi không tin thì hãy giả vờ như vậy, rồi đến lúc nào đó bạn sẽ tin.” - Venus Williams</p>
        </div>
      </div>
      <div class="carousel-item">
        <img style="height: 500px;" src="/images/banner2.png" class="d-block w-100" alt="banner">
        <div class="carousel-caption d-none d-md-block">
          <h5>FitStore - Nơi Biến Giấc Mơ Thể Thao Của Bạn Thành Hiện Thực!
          </h5>
          <p>Hãy tạo ra những thói quen lành mạnh, chứ không phải là những hạn chế.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img style="height: 500px;" src="/images/banner3.png" class="d-block w-100" alt="banner">
        <div class="carousel-caption d-none d-md-block">
          <h5>Khám Phá Sức Mạnh Mới Với FitStore - Nơi Bắt Đầu Cuộc Hành Trình Fitness Của Bạn!</h5>
          <p> “Chúng ta không thể làm lại từ đầu. Nhưng ta có thể bắt đầu ngay bây giờ và tạo ra một cái kết mới.” - Zig Ziglar</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button id="nextBtn" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>