<!-- views/product.ejs -->

<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>
  <div id="product-container">
    
  </div>
  <%- include('../includes/footer.ejs') %>
<<<<<<< Updated upstream
</body>
=======
</body>
>>>>>>> Stashed changes
