<h1>Liên hệ</h1>
<form>
    <div class="phai">
        <div class="contact-form-box">
            <form name="contact-form" class="form-group">
                <input class="form-control" id="ContactForm1_contact-form-name" name="name"
                    placeholder="&#xf007; Tên đầy đủ của bạn (*)" required="" size="30" type="text" value="" style="
                font-family: 'Helvetica', FontAwesome, sans-serif, Arial,
                  FontAwesome;
              " /><br />
                <div class="form-group">
                    <input class="form-control" id="ContactForm1_contact-form-email" name="email"
                        placeholder="&#9993; Email (*)" required="" size="30" type="text" value=""
                        style="font-family: FontAwesome" />
                </div>
                <br />
                <div class="form-group">
                    <textarea class="form-control" cols="25" id="ContactForm1_contact-form-email-message"
                        name="email-message" placeholder="&#9998; Nội dung liên hệ" required="" rows="5"></textarea>
                </div>
                <button class="btn btn-primary" required="" type="submit">Gửi</button>

                <button class="reset btn btn-danger" type="reset">Huỷ</button>
            </form>
        </div>
    </div>
</form>