<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 500px;" src="/images/banner1.png" class="d-block w-100" alt="banner">
        <div  class="carousel-caption d-none d-md-block">
          <h5>FitStore - Whey, Accessories & Fashion</h5>
          <p>Thống kê</p>
        </div>
      </div>
    </div>
  </div>