<div class="container text-center text-black">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="mt-5">Thanh toán hoàn tất</h3>
        <p class="lead" style="margin: 30px auto">
            Đơn hàng đang trên đường giao tới bạn!!!
        </p>
        <a class="btn btn-primary" style="margin: 10px auto" href="/"
          >Trở về trang chủ</a
        >
      </div>
    </div>
  </div>