<div class="container text-center text-black">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 class="mt-5">Payment completed</h3>
        <p class="lead" style="margin: 30px auto">
            Your order is being shipped to you
        </p>
        <a class="btn btn-primary" style="margin: 10px auto" href="/"
          >Go to home</a
        >
      </div>
    </div>
  </div>