<div class="form-group">
    <label for="articleTitle">Tiêu đề phụ:</label>
    <input type="text" class="form-control" id="postTitle" placeholder="Nhập tiêu đề nội dung" name="subheading"
        required />
</div></br>
<div class="form-group">
    <label for="articleTitle">Nội dung:</label>
    <textarea type="text" class="form-control" placeholder="Nhập nội dung" name="contents" required></textarea>
</div></br>
<div class="form-group">
    <label>Hình ảnh:</label>
    <input type="file" id="image" name="image" accept="image/*" class="form-control" required />
</div>
<div class="form-group">
    <input type="text" class="form-control" id="postTitle" placeholder="Nhập chú thích cho hình ảnh" name="imageNote" required />
</div></br>